[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
