[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/screen"]
	path = vim/bundle/screen
	url = git@github.com:ervandew/screen.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/tmuxline"]
	path = vim/bundle/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-tmux"]
	path = vim/bundle/vim-tmux
	url = git@github.com:tmux-plugins/vim-tmux.git
[submodule "vim/bundle/vim-tmux-focus-events"]
	path = vim/bundle/vim-tmux-focus-events
	url = git@github.com:tmux-plugins/vim-tmux-focus-events.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-notes"]
	path = vim/bundle/vim-notes
	url = git@github.com:xolox/vim-notes.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
