[submodule "tmux/tpm"]
	path = tmux/tpm
url=https://github.com/tmux-plugins/tpm.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
url=https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/zplug"]
	path = zsh/zplug
url=https://github.com/zplug/zplug.git
[submodule "zsh/dircolors-solarized"]
	path = zsh/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/vim-plug"]
	path = vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
